html {
    font-size: 16px;
    height: 100%;
    background-color: rgb(248, 238, 225);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}



#bjuurger {}

#avatar-head {
    display: block;
    margin:auto;
    height: 50%;
    width: 50%%;
}

#chat-box {
justify-content: center;
width: 40%;
    margin: auto;
    /* background-color: gray; */
}
#chat-form {
    display: flex;
    bottom: 1;
    bottom: 0;
    margin: 2%;
  }

input {
    width: 50%;
    margin: auto;
    
}