* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    background-color: #f8eee1;
    font-family: 'IM Fell French Canon', serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 0;
}

/* Captcha form */
#reCapatura {
    position: fixed;
    top: 50%;
    right: 41%;
    z-index: 2;
}

/* Create a full-screen overlay for reCaptcha  */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#tag-line {
    display: block;
    margin: 0 10px;
    font-style: italic;
}


#dropdown-menu {
    right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100px;
    position: absolute;
    text-align: left;
    margin-right: 10px;
}

nav {
    margin-bottom: 0;
}

#dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color:  #faf6f0;
    margin: 0;
}

#dropdown-menu a:hover {
    color: #00ba57;
}


.hidden {
    display: none;
}

#burger-menu {
    cursor: pointer;
    margin: 0;
}

.active path {
    stroke: rgb(111, 111, 111);
    height: 1000px;
    
  }


#avatar-head {
    display: block;
    margin: auto;
    /* height: 50%;
    width: 50%; */
    height: 29rem;
}

/* shimmer animation for when awaiting OpenAI API response */

@keyframes shimmer {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

#avatar-head.shimmering {
    animation: shimmer 5s infinite ease-in-out;
}

/* Ai response container */
#chat-box {
    justify-content: center;
    font-size: 1.3rem;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    line-height: 1.3;
    padding: 5rem 0;
}

/* User promopt form */
#chat-form {
    display: flex;
    bottom: 1;
    bottom: 0;
    margin: 2%;
    justify-content: center;
}

/* Prompt box */
input {
    width: 30%;
    position: fixed;
    height: 2.5rem;
    border-radius: 10px;
    justify-content: center;
    border: none;
    background-color: rgb(255, 255, 255);
    text-indent: 10px;
    bottom: 2%;
}

/* placeholder text for user input */
input::placeholder {
    margin: auto;
    text-indent: 10px;
    color: rgb(119, 119, 119);
    text-align: left;
    margin-left: 20px;
    font-family: 'IM Fell French Canon', serif;
}

/* prompt send button */
#send-prompt-button {
    right: 36%;
    border-radius: 23%;
    position: fixed;
    bottom: 2.6%;
    right: 35.5%;
    border: 2px solid rgb(69, 69, 69);
    cursor: pointer;
}

#send-prompt-button:active {
    border: 2px solid rgb(0, 163, 41);
}

/* About section */

#about-section {
    margin: auto;
    width: 60%;
    font-size: 20px;
    padding: 160px;
    line-height: 1.5;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}